.contact-body {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  background: white;
  color: black;
  margin-bottom: 20px; 
}

.contact-grid__about {
  list-style-type: none;
  text-align: center;
}

.contact-grid__about li {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list {
  margin-left: 20%;
}

.contact-list i {
  font-size: 100%;
  padding-right: 10px;
}

#location {
  padding-right: 15px;
}